body{
    background-position: center;
    background-size:cover;
    background-color:darkcyan
}
div.body{
    width: 1000px;
    margin: auto;
}
div.title{
    text-align: center;
    background-color:blue;
    color:chartreuse;
    font-size: 30px;
    width: 1000px;
    height: 50px;
    margin-bottom: 30px;
}
img{
    width: 500px;
}
div.w{
    display: flex;
    border-collapse: collapse;
    width: 1000px;
}
div.a1{
    width: 500px;
}
div.a2{
    width: 500px;
}